.frame-18,
.frame-18 * {
  box-sizing: border-box;
}
.frame-18 {
  background: #ffffff;
  height: 2215px;
  position: relative;
  overflow: hidden;
}
.group-344 {
  position: absolute;
  inset: 0;
}
.button-group {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-400, 16px);
  align-items: center;
  justify-content: flex-start;
  width: 204.34px;
  height: 42.62px;
  position: absolute;
  left: 1636.69px;
  top: 22.41px;
}
.button {
  border-radius: var(--var-sds-size-radius-200, 8px);
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.button2 {
  color: var(--var-sds-color-text-neutral-default, #303030);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.button3 {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-brand-default, #2c2c2c);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.button4 {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.examples-home-page {
  background: var(--var-sds-color-background-default-default, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1920px;
  height: 2197px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-x: auto;
}
.rectangle-69 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 106px;
  height: 1px;
  position: relative;
}
.rectangle-68 {
  background: #d9d9d9;
  align-self: stretch;
  flex-shrink: 0;
  height: 109px;
  position: relative;
}
.group-346 {
  align-self: stretch;
  flex-shrink: 0;
  height: 613px;
  position: static;
}
.hero-actions {
  background: var(--var-sds-color-background-default-secondary, #f5f5f5);
  padding: var(--var-sds-size-space-4000, 160px)
    var(--var-sds-size-space-600, 24px) var(--var-sds-size-space-4000, 160px)
    var(--var-sds-size-space-600, 24px);
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-800, 32px);
  align-items: center;
  justify-content: flex-start;
  width: 1920px;
  height: 613px;
  position: absolute;
  left: 0px;
  top: 110px;
}
.text-content-title {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: center;
  font-family: var(--title-hero-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-hero-font-size, 72px);
  line-height: var(--title-hero-line-height, 120%);
  letter-spacing: var(--title-hero-letter-spacing, -0.03em);
  font-weight: var(--title-hero-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.subtitle {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: center;
  font-family: var(--subtitle-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subtitle-font-size, 32px);
  line-height: var(--subtitle-line-height, 120%);
  font-weight: var(--subtitle-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-group2 {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-400, 16px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.importancia-controle-estoque-empresa-copia-2-1 {
  align-self: stretch;
  flex-shrink: 0;
  height: 521px;
  position: relative;
  object-fit: cover;
}
.card-grid-testimonials {
  background: var(--var-sds-color-background-default-default, #ffffff);
  padding: var(--var-sds-size-space-1600, 64px);
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-1200, 48px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 601px;
  position: relative;
}
.text-content-heading {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.heading {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.subheading {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 20px);
  line-height: var(--subheading-line-height, 120%);
  font-weight: var(--subheading-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card-grid {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-1200, 48px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.testimonial-card {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--var-sds-size-space-600, 24px);
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-600, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 300px;
  position: relative;
}
.text-heading {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.avatar-block {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 139px;
  position: relative;
}
.avatar {
  border-radius: var(--var-sds-size-radius-full, 9999px);
  flex-shrink: 0;
  width: var(--var-sds-size-icon-large, 40px);
  height: var(--var-sds-size-icon-large, 40px);
  position: relative;
  overflow: hidden;
}
.shape {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  object-fit: cover;
}
.info {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-050, 2px);
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.description {
  color: var(--var-sds-color-text-default-tertiary, #b3b3b3);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text-heading2 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
  flex: 1;
}
.info2 {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-050, 2px);
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title2 {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.testimonial-card2 {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-600, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 147px;
  min-width: 300px;
  position: relative;
}
.text-heading3 {
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
  flex: 1;
}
.text-heading-3-span {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
}
.text-heading-3-span2 {
  color: var(--var-sds-color-text-default-secondary, #757575);
}
.testimonial-card3 {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--var-sds-size-space-600, 24px);
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-600, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 325.33px;
  min-width: 300px;
  position: relative;
}
.footer {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px 0px 0px 0px;
  padding: var(--var-sds-size-space-800, 32px)
    var(--var-sds-size-space-800, 32px) var(--var-sds-size-space-4000, 160px)
    var(--var-sds-size-space-800, 32px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-400, 16px);
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 344px;
  position: relative;
  overflow: hidden;
}
.title3 {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-600, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  min-width: 240px;
  position: relative;
}
.figma {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button-list {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-400, 16px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.x-logo {
  flex-shrink: 0;
  width: 23.98px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.logo-instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.logo-you-tube {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.linked-in {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.text-link-list {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.title4 {
  padding: 0px 0px var(--var-sds-size-space-400, 16px) 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-strong {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-strong2 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
}
.text-link-list-item {
  flex-shrink: 0;
  width: 89px;
  height: 22px;
  position: relative;
}
.list-item {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 19.1%;
  left: 0%;
  width: 80.9%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item2 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 12.36%;
  left: 0%;
  width: 87.64%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item3 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -3.37%;
  left: 0%;
  width: 103.37%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item4 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -12.36%;
  left: 0%;
  width: 112.36%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item5 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -17.98%;
  left: 0%;
  width: 117.98%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item6 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -55.06%;
  left: 0%;
  width: 155.06%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item7 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -61.8%;
  left: 0%;
  width: 161.8%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item8 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 40.45%;
  left: 0%;
  width: 59.55%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item9 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item10 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -87.64%;
  left: 0%;
  width: 187.64%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item11 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -34.83%;
  left: 0%;
  width: 134.83%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item12 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -88.76%;
  left: 0%;
  width: 188.76%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item13 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -31.46%;
  left: 0%;
  width: 131.46%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item14 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 38.2%;
  left: 0%;
  width: 61.8%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item15 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 61.8%;
  left: 0%;
  width: 38.2%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item16 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -22.47%;
  left: 0%;
  width: 122.47%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item17 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 44.94%;
  left: 0%;
  width: 55.06%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item18 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -1.12%;
  left: 0%;
  width: 101.12%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item19 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 31.46%;
  left: 0%;
  width: 68.54%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item20 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 3.37%;
  left: 0%;
  width: 96.63%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item21 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -38.2%;
  left: 0%;
  width: 138.2%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 0px 0px 1px 0px;
  padding: 23px 17px 23px 17px;
  display: flex;
  flex-direction: row;
  gap: 929px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-shrink: 0;
  width: 1920px;
  position: relative;
}
.block {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
